<ng-container *ngIf="phase  == 0">
  <app-registration (onAuthorization)="setAuthorization()"></app-registration>
</ng-container>
<ng-container *ngIf="phase  == 1">
  <app-authorization (onRegistration)="setRegisrration()" (onEntry)="setEntry()"></app-authorization>
</ng-container>
<ng-container *ngIf="phase  == 2">
  <app-create-vote></app-create-vote>
</ng-container>
<ng-container *ngIf="phase  == 3">
  <app-vote-one></app-vote-one>
</ng-container>
<ng-container *ngIf="phase  == 4">
  <app-wait-one></app-wait-one>
</ng-container>
<ng-container *ngIf="phase  == 5">
  <app-vote-two></app-vote-two>
</ng-container>
<ng-container *ngIf="phase  == 6">
  <app-wait-two></app-wait-two>
</ng-container>


