<span style="text-align: center">Новое голосование</span>
<div style="width: 100%; background: #ededed; text-align: center">
  <div class="row">
  <div class="col-2">
    <label>Длительность первой фазы (в минутах)</label>
    <input class="form-control input-lg" type="number" [(ngModel)]="timeFazaOne"
           name="TimeFazaOne" #TimeFazaOne="ngModel" min="1">
  </div>
  <div class="col-2">
    <label>Длительность второй фазы (в минутах)</label>
    <input class="form-control input-lg" type="number" [(ngModel)]="timeFazaTwo"
           name="TimeFazaTwo" #TimeFazaTwo="ngModel" min="1">
  </div>
  </div>
  <div class="container-xxl">
    <table class="table table-bordered align-middle">
      <thead>
      <tr>
        <th>Место</th>
        <th>
          <ng-container *ngIf = "eventPlans.length == 0">
            <button type = "button" class="btn btn-success" (click)="addPlan()">Добавить</button>
          </ng-container>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let evPl of eventPlans">
        <td><input class="form-control input-lg"  type="text" name="Name" #Name="ngModel" [(ngModel)]="evPl.name" required></td>
        <td>
          <ng-container *ngIf = "eventPlans.indexOf(evPl)+1 == eventPlans.length">
            <button type = "button" class="btn btn-success" (click)="addPlan()">Добавить</button>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-container *ngIf = "eventPlans.length > 0">
    <button type = "button" class="btn btn-success" (click)="startVote()">Начать голосование</button>
  </ng-container>
</div>
