<span style="text-align: center">Голосоавние закончится через {{minutes}}:{{seconds}}</span><br>
<span style="text-align: center">Проголосовало {{countVoted}} человек</span>
<div style="width: 100%; background: #ededed; text-align: center">
  <div class="container-xxl">
    <table class="table table-bordered align-middle">
      <thead>
      <tr>
        <th>Место</th>
        <th>
        </th>
        <th>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of firstVotes">
        <td><input class="form-control input-lg"  type="text" name="Name" #Name="ngModel" [(ngModel)]="item.name" required></td>
        <td><input  type="checkbox" name="Consent" #Consent="ngModel" [(ngModel)]="item.consent" required></td>
        <th>
          <ng-container *ngIf = "firstVotes.indexOf(item)+1 == firstVotes.length">
            <button type = "button" class="btn btn-success" (click)="addPlan()">Добавить</button>
          </ng-container>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
  <button type = "button" class="btn btn-success" (click)="addVoice()">Проголосовать</button>
</div>

